<p-toast></p-toast> 

<div class="flex justify-content-center align-items-center min-h-screen surface-ground p-3">
    
    <div class="surface-card p-5 shadow-4 border-round w-full md:w-25rem bg-white">
        
        <div class="text-center mb-5">
            <h2 class="text-900 text-3xl font-medium mb-3">Login</h2>
            <p class="text-600 font-medium">Please enter your details</p>
        </div>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="flex flex-column gap-4">
            @if (errorMessage) {
                <p-message severity="error" [text]="errorMessage" styleClass="w-full mb-2"></p-message>
            }
            <div class="flex flex-column gap-2">
                <label for="userName" class="font-bold text-800">Username</label>
                <input pInputText id="userName" formControlName="userName"
                       [ngClass]="{ 'p-invalid': isInvalid('userName') }" 
                       placeholder="Enter your username" class="w-full" />
                
                @if (isInvalid('userName')) {
                    <small class="p-error">Username is required</small>
                }
            </div>

            <div class="flex flex-column gap-2">
                <label for="password" class="font-bold text-800">Password</label>
                <p-password id="password" formControlName="password" 
                            [toggleMask]="true" [feedback]="false"
                            [ngClass]="{ 'p-invalid': isInvalid('password') }" 
                            placeholder="Enter your password" 
                            styleClass="w-full" inputStyleClass="w-full">
                </p-password>

                @if (isInvalid('password')) {
                    <small class="p-error">Password is required</small>
                }
            </div>

            <p-button label="Sign In" type="submit" class="w-full mt-2" 
                      styleClass="w-full p-button-lg" [loading]="isLoading"
                      [disabled]="loginForm.invalid">
            </p-button>

            <p class="login-text flex-column gap-3 text-center">
                Not registered? 
                <a routerLink="/register" class="link text-lg">Create new account</a>
            </p>
        </form>
    </div>
</div>