<div class="flex justify-content-center align-items-center min-h-screen">
    <div class="card p-4 shadow-2 border-round w-full md:w-25rem bg-white">
        <h2 class="text-center mb-4 text-4xl">Register</h2>

        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="flex flex-column gap-3">

            <div class="flex flex-column gap-2">
                <input pInputText id="userName" formControlName="userName"
                    [ngClass]="{ 'p-invalid': isInvalid('userName') }" placeholder="Username" />

                @if (isInvalid('userName')) {
                <p-message severity="error" text="Username is required" variant="simple" />
                }
            </div>

            <div class="flex flex-column gap-2">
                <p-password id="password" formControlName="password" [toggleMask]="true" [feedback]="false"
                    [ngClass]="{ 'p-invalid': isInvalid('password') }" placeholder="Password" styleClass="w-full"
                    inputStyleClass="w-full">
                </p-password>

                @if (isInvalid('password')) {
                <p-message severity="error" text="Password is required" variant="simple" />
                }
            </div>
            <div class="flex flex-column gap-2">
                <input pInputText id="email" formControlName="email" [ngClass]="{ 'p-invalid': isInvalid('email') }"
                    placeholder="Email" />

                @if (isInvalid('email')) {
                <p-message severity="error" text="Email is required" variant="simple" />
                }
            </div>
            <div class="flex flex-column gap-2">
                <input pInputText id="phoneNumber" formControlName="phoneNumber"
                    [ngClass]="{ 'p-invalid': isInvalid('phoneNumber') }" placeholder="Phone Number" />

                @if (isInvalid('phoneNumber')) {
                <p-message severity="error" text="Phone Number is required" variant="simple" />
                }
            </div>
            @if (errorMessage) {
            <p-message severity="error" [text]="errorMessage" class="w-full" />
            }
            <p-button label="submit" type="submit" class="w-full" styleClass="w-full" [loading]="isLoading"
                [disabled]="registerForm.invalid">
            </p-button>
                 <p class="register-text flex-column gap-3 text-center">
                You have an account? 
                <a routerLink="/login" class="link text-lg">Login here</a>
            </p>

        </form>
    </div>
</div>