<div class="flex justify-content-center p-4">
  <p-card header="Insert Gift Details" class="w-full md:w-6 justify-content-center shadow-2 border-round-xl">
    <form [formGroup]="giftForm" (ngSubmit)="onSave()" class="flex flex-column gap-3">

<div class="flex flex-column align-items-center mb-5">
  <div class="max-w-full w-fit shadow-4 border-round-xl overflow-hidden border-1 surface-border">
    <img [src]="getPreviewUrl() || 'assets/gift/default-gift.png'" 
         [alt]="giftForm.get('title')?.value || 'Gift Image'" 
         class="w-full h-auto block max-h-25rem object-contain bg-white">
  </div>
</div>
      <div class="flex flex-column gap-2">
        <label for="title" class="font-bold text-800">Gift Name</label>
        <input pInputText id="title" formControlName="title" placeholder="Enter gift name" />
      </div>

      <div class="flex flex-column gap-2">
        <label for="ticketPrice" class="font-bold text-800">Ticket Price</label>
        <p-inputNumber id="ticketPrice" formControlName="ticketPrice" mode="currency" currency="ILS"
          locale="he-IL"></p-inputNumber>
      </div>
      <div class="flex flex-column gap-2">
    <label for="donor" class="font-bold text-800">Donor</label>
    <p-dropdown 
        [options]="donorsList()" 
        formControlName="donorId" 
        optionLabel="name" 
        optionValue="id" 
        placeholder="Select a Donor"
        styleClass="w-full"
        [filter]="true" 
        filterBy="name">
    </p-dropdown>
    
    @if (giftForm.get('donorId')?.invalid && giftForm.get('donorId')?.touched) {
        <small class="p-error">Please select a donor</small>
    }
</div>
      <div class="flex flex-column gap-2">
    <label for="category" class="font-bold text-800">Category</label>
    <p-dropdown 
        [options]="categoriesList()" 
        formControlName="categoryId" 
        optionLabel="name" 
        optionValue="id" 
        placeholder="Select a Category"
        styleClass="w-full"
        [filter]="true" 
        filterBy="name">
    </p-dropdown>
    
    @if (giftForm.get('categoryId')?.invalid && giftForm.get('categoryId')?.touched) {
        <small class="p-error">Please select a category</small>
    }
</div>
       <div class="flex flex-column gap-2 mb-3">
    <label class="font-bold">Gift Image</label>
    
    <img [src]="'https://localhost:7101/' + giftForm.get('imagePath')?.value" 
         *ngIf="giftForm.get('imagePath')?.value"
         class="w-10rem border-round shadow-2 mb-2">

    <input type="file" #fileInput (change)="onFileSelected($event)" hidden accept="image/*">
    <p-button label="Upload New Image" icon="pi pi-upload" 
              styleClass="p-button-outlined p-button-sm"
              (onClick)="fileInput.click()">
    </p-button>
    
    <small *ngIf="selectedFile" class="text-green-600">Selected: {{ selectedFile.name }}</small>
</div>
      <div class="mt-4 flex gap-2">
        <button pButton type="submit" label="Add Gift" icon="pi pi-check" class="p-button-primary flex-grow-1"
          [disabled]="giftForm.invalid" >
        </button>
        <button pButton type="button" label="Cancel" icon="pi pi-times" class="p-button-secondary p-button-outlined"
          routerLink="/gifts">
        </button>
      </div>

    </form>
  </p-card>
</div>